@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #E6DCD8, #FFF8F5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #99888188;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8A9E9B;
    text-align: center;
    text-shadow: 1px 1px 2px #99888171;
}

h2 {
   color: #998881;
}

p {
    text-align: justify;
}